main {
  height: 100vh;
}

section {
  height: calc(100vh - 58px);
  overflow-y: scroll;
}

form {
  height: 58px;
}

.message {
  display: flex;
  width: 100%;
  padding: 8px 16px;
}

.message.mine {
  justify-content: flex-end;
}

.message p {
  color: grey;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 12px;
}

.message.mine p {
  text-align: right;
}

.message.mine span {
  background-color: #3a82f6;
}

.message span {
  padding: 8px;
  background: #1f2937;
  border-radius: 4px;
  color: white;
}